[Bb]in/
[Oo]bj/
_ReSharper*
*.suo
*.csproj.user
*.DotSettings.user
*.userprefs
*.InstallLog
*.ipch
*.cache
*.log
Resource.designer.cs
*v12.suo
desktop.ini
.vs/
*.orig
.idea/
*.iml
*.sln.DotSettings

Build
Deploy

packages
!packages/repositories.config

