image: Visual Studio 2019

configuration: Release

install:
  - ps: |
      nuget restore Selone.sln
      dotnet restore

build:
  project: Selone.sln
  publish_nuget: true
  verbosity: minimal

test: off

deploy:
  - provider: NuGet
    api_key:
      secure: BGw4rds8WHDoDPSQg3yP5p1IWB9UR81jJKIQ7L85VniAMU+SVhvtUdRmyBAcjgAt
    skip_symbols: true
    on:
      branch: /^master$/