{
  "plugins": [
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ],
    "@babel/react"
  ]
}
